
/* .container
{
    border: 1px solid black;
    width: 250px;
    height
} */
html{
   
    margin: 0;
    background-image: url("bgImage.svg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .starC {
    position: absolute;
    border-radius: 100%;
    border: 1px solid #fffae8;
    background-color:#FFFFCC;
    opacity:1;
    /* animation: blinker 3s linear infinite; */
  }
  .starC:hover{
      transform: scale(1.5);
  }

  /* @keyframes blinker {
    50% {
         opacity: 0;
        }
  } */
.title{
    color: rgb(250, 250, 197);
    font-weight: 700;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 4rem;
    text-transform: capitalize;
    background-color:rgba(88, 133, 175,.2);
    text-align: center;
    border:1px solid #FFFFCC;
    top:76px;
    left:120px;
    width:160px;
    height: 290px;
    line-height: .8;
    border-radius: 7px;
    margin: 5px;
    background-color:red;
    position: absolute;
    opacity:.5;
    padding-top: 10px;
    display:inline-block;

}
.statBox{
    color: rgb(250, 250, 197);
    font-weight: 700;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 2rem;
    text-transform: capitalize;   
    text-align: center;
    border:1px solid #FFFFCC;
    top:76px;
    left:1250px;
    width:160px;
    height: 290px;
    line-height: 2;
    border-radius: 7px;
    margin: 5px;
    background-color:red;
    position: absolute;
    opacity:.5;
    display:none;
}
.scoreBox{
        color: rgb(250, 250, 197);
        font-weight: 700;
        font-family: 'Oswald', Helvetica, sans-serif;
        font-size: 2rem;
        text-transform: capitalize;   
        text-align: center;
        display:block;

}
.stats{
    padding:10px;
    margin: 0 auto;
    font-weight:400;
}
 .startButton {
    border-radius: 10px;
    border:1px solid #FFFFCC;
    margin:10px auto;
    height:65px;
    width:179px;
    opacity:.6;
    background-color:rgba(88, 133, 175,.2);
    text-align: center;
    line-height: 3.5rem;
    color: #fafac5;
    font-weight: 700;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 4rem;
 }
.container {
   margin:0 auto;
   margin-top:75px;
   background-color:#5885AF;
   opacity: .2;
   height:650px;
   width:1300px;
   border-radius: 10px;
   position:relative;
   border:2px solid #FFFFCC;
}
.levelDisplay{
    display:inline-block;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 9rem;
    transform: rotate(-90deg);
    top: 200px;
    left:37px;
    position: absolute;
    background: -webkit-linear-gradient( rgb(244, 244, 133),rgb(250, 250, 197));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity:.6;
}
.clickedStar{
    height:45px;
    width: 45px;
    padding:0;
    position:relative;
    left:-15px;
    top:-15px;

}
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .close:hover,.close:focus {
    color: rgb(250, 250, 197);
    text-decoration: none;
    cursor: pointer;
    
  }
  .modalContent {
    color: #fafac5;
    background-color:rgba(88, 133, 175,.2);
    font-weight: 700;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 2rem;
    text-transform: capitalize;   
    text-align: center;
    border:1px solid #FFFFCC;
    width: 30%;
    height: 50%;
    margin:0 auto;
    border-radius: 10px;
    opacity:.6;
  }

  
  .modalContent .startButton{
      margin-top: 20px;
      opacity: 1;
      color: #fafac5;
  }
  #score{
        display: none;
    }
  .modal {

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  }
 .startPrompt{
    color: #fafac5;
    font-weight: 700;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 4rem;
    margin: 0 auto;
    top: 500px;
    position: relative;
    text-align: center;
  }
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 